<!--
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{{bgGallery}}" alt="Cover">
      <div class="carousel-caption d-none d-md-block">
        <h1 class="jumbotron-heading">Album hola</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
      </div>
    </div>
  </div>
</div>
-->
<div class="album py-4 bg-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4" *ngFor="let shoe of shoes">
                <a routerLink="/producto/{{shoe.id}}">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" data-src="{{shoe.album}}/1.jpg" alt="{{shoe.modelo}}">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <small class="text-muted">{{shoe.price | currency}} *</small>
                                </div>
                                <small class="text-muted">{{shoe.modelo}}</small>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>