.jumbotron-custom{
    background-color: #fff;
    border-radius: initial;
    padding-top: initial;
    margin-bottom: initial;
    padding-bottom: initial;
}
.fa-dark{
    color: dimgrey;
}
.detail-description{
    letter-spacing: 1px;
}
.description-detail{
    font-size: 1rem;
}
