<!--
<div class="jumbotron">
    <div class="container text-right">
        <h1 class="display-3">¿Quiénes somos?</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><i class="fa fa-hand-o-down fa-5x" aria-hidden="true"></i></p>
    </div>
</div>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{{bgGallery}}" alt="Cover">
      <div class="carousel-caption d-none d-md-block text-right">
        <h1 class="jumbotron-heading">¿Quiénes somos?</h1>
        <p class="text-muted">Dolancy es una zapatería mexicana, familiar de artesanos que se ha dedicado a fabricar zapatos de la más alta calidad, siempre con un lema: <b class="text-light">#HechosConAmor</b>.</p>
      </div>
    </div>
  </div>
</div>
-->
<div class="jumbotron paral paralsec text-right">
    <div class="container">
        <h1 class="text-light">¿Quiénes somos?</h1>
        <p class="text-muted text-custom-desc">Dolancy es una zapatería mexicana, familiar de artesanos que se ha dedicado a fabricar zapatos de la más alta calidad, siempre con un lema: <b class="text-light">#HechosConAmor</b>.</p>
    </div>
</div>

<div class="container-fluid bg-light">
    <hr class="featurette-divider">
<div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading">Una empresa 100% <span class="text-muted">mexicana.</span></h2>
    <p class="lead text-custom-desc">Nosotros nacimos en el municipio mexicano de San Mateo Atenco de donde han surgido muchos zapateros artesanos, que se han caracterizado por elaborar productos con la más alta calidad, y de los cuáles ha surgido Dolancy.
      </p><p class="lead text-custom-desc">Los mejores artesanos en el mundo están en México, y no hay mejor lugar para hacer zapatos.
      </p>
  </div>
  <div class="col-md-5 order-md-1">
    <img class="featurette-image img-fluid mx-auto" data-src="{{dolancyLogo}}" alt="Generic placeholder image">
  </div>
</div>
    
    <hr class="featurette-divider">
    
    <div class="jumbotron paral paralsec1">
        <h1 class="text-right text-light">#HechosConAmor</h1>
    </div>
    
    <hr class="featurette-divider">
    
<div class="row text-center">
  <div class="col-lg-3">
    <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
    <h2>Heading</h2>
    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-lg-3">
    <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
    <h2>Heading</h2>
    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-lg-3">
    <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
    <h2>Heading</h2>
    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-lg-3">
    <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
    <h2>Heading</h2>
    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
  </div>
</div>
    
    <hr class="featurette-divider">
    
    <div class="jumbotron paral paralsec2">
        <h1 class="text-right text-light">#EligeTuEstilo</h1>
    </div>
    
    <hr class="featurette-divider">
    
<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
  </div>
</div>
</div>
