<div class="jumbotron paral paralsec text-right">
    <div class="container">
        <h1 class="text-light">¿Quiénes somos?</h1>
        <p class="text-muted text-custom-desc">Dolancy es una zapatería mexicana, familiar de artesanos que se ha dedicado a fabricar zapatos de la más alta calidad, siempre con un lema: <b class="text-light">#HechosConAmor</b>.</p>
    </div>
</div>

<div class="container-fluid bg-light">
    <div class="row featurette pt-4">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Una empresa 100% <span class="text-muted">mexicana.</span></h2>
        <p class="lead text-custom-desc">Nosotros nacimos en el municipio mexicano de San Mateo Atenco de donde han surgido muchos zapateros artesanos, que se han caracterizado por elaborar productos con la más alta calidad, y de los cuáles ha surgido Dolancy.
          </p><p class="lead text-custom-desc">Los mejores artesanos en el mundo están en México, y no hay mejor lugar para hacer zapatos.
          </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" data-src="{{dolancyLogo}}" alt="Generic placeholder image">
      </div>
    </div>
</div>
<!--
<div class="container-fluid my-3">
    <div class="paral paralsec1">
        <div class="prueba">
            <h1 class="text-right text-light">#HechosConAmor</h1>
        </div>
    </div>
</div>
-->
<div class="container-fluid bg-light">
    <div class="row text-center">
      <div class="col-lg-3 my-5">
        <img class="rounded-circle" src="{{pathImages}}/circle1.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2 class="text-monospace">#Artesanal</h2>
        <p>El arte de hacer un buen calzado.</p>
      </div>
      <div class="col-lg-3 my-5">
        <img class="rounded-circle" src="{{pathImages}}/circle2.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2 class="text-monospace">#Innovador</h2>
        <p>Trabajamos en nuevas propuestas.</p>
      </div>
      <div class="col-lg-3 my-5">
        <img class="rounded-circle" src="{{pathImages}}/circle3.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2 class="text-monospace">#Mexicanos</h2>
        <p>Cada par de zapatos es hecho de forma artesanal y por las mejores manos mexicanas.</p>
      </div>
      <div class="col-lg-3 my-5">
        <img class="rounded-circle" src="{{pathImages}}/circle4.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2 class="text-monospace">#Únicos</h2>
        <p>Transformamos la piel para crear zapatos únicos.</p>
      </div>
    </div>
    
    <hr class="featurette-divider">
    <!--
    <div class="paral paralsec2">
        <h1 class="text-right text-light">#EligeTuEstilo</h1>
    </div>
    
    <hr class="featurette-divider">
    -->
    <div class="row featurette my-3">
      <div class="col-md-7">
        <h2 class="featurette-heading">#<span class="text-muted">HECHOSCONAMOR</span></h2>
        <!--<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>-->
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" data-src="{{pathImages}}/about1.jpg" alt="Generic placeholder image">
      </div>
    </div>
</div>
